*{margin:0;
padding:0;
}
#header {
  background-color: skyblue;
}

.hd {
  background-color: #428bca;
  padding:5;
color:white;
}
.block{
padding:1;

}
.list{
padding:10;
}

.sign{
width:28vw;
height:40vh;
float:right;
padding:10;
}
.form{
padding:5; 
border-radius: 3px;
}
.form1{
  padding:5; 
  background-color: rgb(12, 202, 12);
  border: transparent;
  border-radius: 3px;
  }
  


.block{
width:68vw;}
.main{
padding:10;
margin-top: 50px;;
background-color: rgb(243, 242, 242);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #d0e1f4;
  border-bottom:3px solid #0066ff;
  position: fixed;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  color: grey;
}

.active {
  background-color: #20bae5;
  color:white;
}
.menu{
float:right;
}
img{
	width:30px;
	height:40px;
}
p{
 padding:20;
}
h2{
padding:10;
}

.hd1 {
  background-color:#0477a4;
  padding: 15px;
color:white;

}
h3{
background-color:#6facf5;
  padding:5;
color:white;
}
form{
height:40vh;
}
.label{
  border:1px gray;
  border-style: solid;
}
.border{
  border:1px solid #6facf5;
  padding: 40px 0px 0px 50px;
}
input{
  width: 40vh;
  border:1px solid  grey;
  

}
label{
  color: #3671b9;
}
.label:hover{
  background-color: #dfdfdf;
}
.a1{
  float: right;
  text-decoration: none;
  margin:50px 10px 0px 0px;
}
body{
  background-color: rgb(243, 242, 242);
}

